*{
    margin: 0;
    padding: 0;
}



/*Cabecera de la pagina*/
.cabecera{
	width: 100%;
	height: 120px;
}

.imagenCabecera{
    width: 100%;
    height: 120px;
}

.logo{
    position: relative;
    bottom: 185px;
    left: 15px;
    z-index: 1;
    width: 250px;
}


/*Nombre, inicio sesion y carrito*/

.barra{
    position: relative;
    width: 100%;
    height: 43px;
    background-color: #20638C;
    text-align: center;
    color: white;
    
}

.barra h2{
    font-family: 'BioRhyme';
}

.img1{
    width: 100px;
    height: 100px;
    position: relative;
    left: 600px;
    bottom: 72px;
}

.img2{
    width: 35px;
    height: 35px;
    position: relative;
    left: 600px;
    bottom: 106px;
}

/* Texto entre cabecera y slider */

.textoCabSli{
	font-family: 'BioRhyme';
	font-weight: bold;
	position: relative;
	left: 300px;
	margin-top: 15px;
	width: fit-content;
}

/* Slider */

.position{
	position: absolute;
	top: 57%;
	left: 50%;
	
	transform: translate(-50%, -50%);
}

.slider{
	background-size: cover;
	height: 50%;
	width: 100%;
	border-radius: 10px;
	animation: animate 20s infinite ease-in-out;
}

@keyframes animate{
	0%{
		background-image: url(img/slider1.png);
		background-size: cover;
	}

	25%{
		background-image: url(img/slider2.png);
		background-size: cover;
	}

	50%{
		background-image: url(img/slider3.png);
		background-size: cover;
	}

	75%{
		background-image: url(img/slider4.png);
		background-size: cover;
	}

	100%{
		background-image: url(img/slider1.png);
		background-size: cover;
	}

}

/*Mamparas de ducha*/

.nombre_seccion1{
	position: absolute;
	top: 83%;
	left: 37.3%;
	font-family: 'BioRhyme';
	font-size: 30px;
	font-weight: bold;
	width: fit-content;
}

/* Accesorios */

.nombre_seccion2{
	position: absolute;
	top: 210%;
	left: 42.5%;
	font-family: 'BioRhyme';
	font-size: 30px;
	font-weight: bold;
	width: fit-content;
}
/* Menu de navegacion */

.menu{
	width: fit-content;
}

.ficha:first-child{
	
	position: absolute;
	top: 92%;
	left: 150px;
	background-color: #011126;
	width: 300px;
	height: 50%;
	border-radius: 15px;
}

.ficha:first-child h3{
	position: relative;
	top: 15px;
	left: 105px;
	color: white;
	font-family: 'BioRhyme';
	width: fit-content;
}

.ficha:first-child a{
	position: relative;
	top: 40px;
	left: 55px;
	color: white;
	font-family: 'BioRhyme';
	text-decoration: none;
	border: 2px white solid;
	width: fit-content;
	padding: 7px;
}

.ficha img{
	height: 200px;
	width: 300px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.ficha:nth-child(2){
	position: absolute;
	top: 92%;
	left: 615px;
	background-color: #011126;
	width: 300px;
	height: 50%;
	border-radius: 15px;
}

.ficha:nth-child(2) h3{
	position: relative;
	top: 15px;
	left: 60px;
	font-family: 'BioRhyme';
	color: white;
	width: fit-content;
}

.ficha:nth-child(2) a{
	position: relative;
	top: 40px;
	left: 52px;
	color: white;
	font-family: 'BioRhyme';
	text-decoration: none;
	border: 2px white solid;
	width: fit-content;
	padding: 7px;
}




.ficha:nth-child(3){
	position: absolute;
	top: 92%;
	left: 1070px;
	background-color: #011126;
	width: 300px;
	height: 50%;
	border-radius: 15px;
}

.ficha:nth-child(3) h3{
	width: fit-content;
	position: relative;
	top: 15px;
	left: 80px;
	font-family: 'BioRhyme';
	color: white;
}

.ficha:nth-child(3) a{
	position: relative;
	top: 40px;
	left: 55px;
	color: white;
	font-family: 'BioRhyme';
	text-decoration: none;
	border: 2px white solid;
	width: fit-content;
	padding: 7px;
}

.ficha:nth-child(4){
	position: absolute;
	top: 150%;
	left: 370px;
	background-color: #011126;
	width: 300px;
	height: 50%;
	border-radius: 15px;
}

.ficha:nth-child(4) h3{
	width: fit-content;
	position: relative;
	top: 15px;
	left: 115px;
	font-family: 'BioRhyme';
	color: white;
}

.ficha:nth-child(4) a{
	position: relative;
	top: 40px;
	left: 55px;
	color: white;
	font-family: 'BioRhyme';
	text-decoration: none;
	border: 2px white solid;
	width: fit-content;
	padding: 7px;
	
}


.ficha:nth-child(5){
	position: absolute;
	top: 150%;
	left: 850px;
	background-color: #011126;
	width: 300px;
	height: 50%;
	border-radius: 15px;
}

.ficha:nth-child(5) h3{
	width: fit-content;
	position: relative;
	top: 15px;
	left: 95px;
	font-family: 'BioRhyme';
	color: white;
}

.ficha:nth-child(5) a{
	position: relative;
	top: 40px;
	left: 55px;
	color: white;
	font-family: 'BioRhyme';
	text-decoration: none;
	border: 2px white solid;
	width: fit-content;
	padding: 7px;
}


.menu2{
	
	width: fit-content;
}

.ficha2:first-child{
	
	position: absolute;
	top: 225%;
	left: 150px;
	background-color: #011126;
	width: 300px;
	height: 50%;
	border-radius: 15px;
}

.ficha2:first-child h3{
	position: relative;
	top: 15px;
	left: 94px;
	color: white;
	font-family: 'BioRhyme';
	width: fit-content;
}

.ficha2:first-child a{
	position: relative;
	top: 40px;
	left: 55px;
	color: white;
	font-family: 'BioRhyme';
	text-decoration: none;
	border: 2px white solid;
	width: fit-content;
	padding: 7px;
}
.ficha2 img{
	height: 200px;
	width: 300px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.ficha2:nth-child(2){
	position: absolute;
	top: 225%;
	left: 615px;
	background-color: #011126;
	width: 300px;
	height: 50%;
	border-radius: 15px;
}

.ficha2:nth-child(2) h3{
	position: relative;
	top: 15px;
	left: 53px;
	font-family: 'BioRhyme';
	color: white;
	width: fit-content;
}

.ficha2:nth-child(2) a{
	position: relative;
	top: 40px;
	left: 52px;
	color: white;
	font-family: 'BioRhyme';
	text-decoration: none;
	border: 2px white solid;
	width: fit-content;
	padding: 7px;
}


.ficha2:nth-child(3){
	position: absolute;
	top: 225%;
	left: 1070px;
	background-color: #011126;
	width: 300px;
	height: 50%;
	border-radius: 15px;
}

.ficha2:nth-child(3) h3{
	
	position: relative;
	top: 15px;
	left: 67px;
	font-family: 'BioRhyme';
	color: white;
	width: fit-content;
}

.ficha2:nth-child(3) a{
	position: relative;
	top: 40px;
	left: 55px;
	color: white;
	font-family: 'BioRhyme';
	text-decoration: none;
	border: 2px white solid;
	width: fit-content;
	padding: 7px;
}

footer{
	position: absolute;
	top: 280%;
	display: flex;
	background-color: #20638C;
	padding: 20px;
	width: 97.3%;
	font-family: 'BioRhyme';
	color: white;
}

footer p{
	width: fit-content;
}

footer p:first-child{
	position: relative;
	left: 50px;
}
footer p:nth-child(2){
	position: relative;
	left: 350px;
	
}

footer p:nth-child(3){
	position: relative;
	left: 500px;
}






