*{
    margin: 0;
    padding: 0;
}


.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-around;
}


.card{
    background-color: crimson;
    width: 500px;
    height: 400px;
}
img{
    width: 200px;
    height: 200px;
}