.producto{
    display: grid;
    width: 500px;
}

.info{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 200px;
    height: 280px;
}
select{
    height: 50px;
}
@media (min-width: 500px){
    .producto { grid-template-columns: repeat(1, 1fr); }
}
  
@media (min-width: 1000px) {
    .producto { grid-template-columns: repeat(2, 1fr); }    
}