
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
}


.card{
    margin-top: 20px;
    width: 300px;
    font-family: 'Forum';
    font-weight: bold;
}

.cardborder{
    border: 1px solid black;
    height: 300px;
}


.card img{
    margin-left: 50px;
    width: 200;
    height: 300px;
}

.card .content {
    margin-top: 5px;
}

.card .content a{
    text-decoration: none;
    color: black;
}

