@import 'variables';

footer {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	background-color: $fondoOscuro;
	color: white;
	width: 100%;
}

.contentfooter{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
}







