@import 'variables';


.cabecera {
	background-color: $fondoOscuro;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	font-family: $letra;
	font-weight: bolder;
	p {
		color: white;
		width: fit-content;
	}
	img {
		width: 200px;
		width: 175px;
		margin-left: 5px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 9px;
	}
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: white;
	}
}

.cabecera2 {
	background-color: $fondoOscuro;
	display: flex;
	width: 100%;
	justify-content: center;
	border-top: 4px solid #A3C4D9;
	font-family: $letra;
	p {
		color: white;
	}
	img {
		width: 80px;
		height: 80px;
	}
	a{
		text-decoration: none;
		color: white;
	}
}