@media (min-width: 320px) {
	.cabecera {

		img {
			width: 100px;
			height: 100px;
		}
		ul {
			gap: 5px;
			margin-left: 2px;
		}
	}
}
@media (min-width: 375px) {
	.cabecera {
		flex-wrap: nowrap;
		ul {
			margin-right: 5px;
		}
	}
}
@media (min-width: 425px) {
	.cabecera {
		flex-wrap: nowrap;
		img{
			width: 100px;
			height: 100px;
			margin-top: 70px;
			margin-left: 30px;
		}
	}
}

@media (min-width: 768px) {
	.cabecera{
		flex-wrap: nowrap;
		gap: 30px;
		img{
			margin-top: 10px;
		}
	}
}
@media (min-width: 1024px) {
	.cabecera {
		img{
			margin-top: 10px;
			width: 150px;
			height: 150px;
		}
		ul {
			margin-top: 50px;
			width: 600px;
		}
	}
}

@media (min-width: 1440px){
	.cabecera{
		img{
			margin-top: 10px;
		}
		ul{
			margin-top: 70px;
			width: 1000px;
		}
	}
}