@media (min-width: 320px){
    .cabecera1{
        flex-wrap: nowrap;
		img{
			margin-top: 30px;
			padding: 0;
		}
        .lista{
            display: none;
        }
        .imagenmenu{
			width: 36px;
			height: 36px;
		}
    }
    .menumovil{
		#navigation{
			&:target{
				.navigation-items{
					width: 70%;
				}
			}
		}
	}
    .containerProducto{
		width: 90%;
		margin-left: 20px;
		.card{
			.pic{
				width: 250px;
				
			}
			h2{
				font-size: 40px;
				right: 100px;
			} 
			&:hover{
				.pic{
					width: 250px;
				}
				button{
					transform: scale(14.5);
				}
				a{
					top: 180px;
					right: 35px;
				}
			}
		}
		.cardd{
			.pic2{
				width: 250px;
			}
			h2{
				right: 40px;
				bottom: 50px;
				font-size: 33px;
			}
			&:hover{
				h2{
					top: 70px;
				}
				.pic2{
					width: 250px;
				}
				.precio{
					left: 50px;
					top: 325px;
				}
				a{
					top: 310px;
				}
			}
		}
	}
    .formulariologin{
		width: 200px;
		height: 430px;
	}
	.button1{
		padding: 0.4em;
		
	}
	.button2{
		padding-left: 1em;
		padding-right: 1em;
	}
	#heading{
		position: relative;
		top: 20px;
	}
	.contentfooter{
		width: 70%;
		justify-content: center;
	}
}
@media (min-width: 375px){
    .cabecera1{
        flex-wrap: nowrap;
		img{
			margin-top: 30px;
			padding: 0;
		}
        .lista{
            display: none;
            margin-right: 5px;
        }
    }

    .containerProducto{
		width: 90%;
		margin-left: 20px;
		.card {
			.pic{
				width: 300px;
			}
			
		}
		.cardd {
			.pic2{
				width: 300px;
			}
			h2{
				right: 30px;
				bottom: 50px;
			}
			&:hover{
				.precio{
					left: 90px;
					top: 322px;
				}
			}
		}
	}

    .formulariologin{
		width: 250px;
	}
	.contentfooter{
		width: 70%;
		justify-content: center;
	}
}
@media (min-width: 425px){
    .cabecera1{
		img{
			margin-top: 30px;
			padding: 0;
		}
        .lista{
            display: none;
        }
    }
    .menumovil{
		display: block;
	}
    .containerProducto{
		width: 90%;
		margin-left: 20px;
		.cardd {
			h2{
				right: 30px;
				bottom: 45px;
			}
			&:hover{
				.precio{
					left: 80px;
					top: 322px;
				}
			}
		}
	}
    .formulariologin{
		width: 300px;
		height: 450px;
	}
	.button1{
		padding: 1em;
		text-align:center;
	}
	.button3{
		width: 265px;
		margin-left: 18px;
	}
	.contentfooter{
		width: 70%;
		justify-content: center;
	}
}
@media (min-width: 768px){

    .cabecera1{
        flex-wrap: nowrap;
		img{
			margin-top: 10px;
			padding-bottom: 10px;
		}
        .lista{
            display: flex;
            flex-wrap: wrap;
            margin-top: 25px;
        }
    }
    .menumovil{
        display: none;
    }

	.containerProducto{
		.cardd {
			&:hover{
				.precio{
					left: 80px;
					top: 322px;
				}
			}
		}
	}
	.contentfooter{
		width: 70%;
		justify-content: center;
	}
}
@media (min-width: 1024px){
    .cabecera1{
		img{
			margin-top: 20px;
			padding-bottom: 10px;
		}
        .lista{
			display: flex;
			margin-top: 30px;
		}
    }
	.containerProducto{
		margin-top: 90px;
		margin-left: 70px;
	}
    .menumovil{
        display: none;
    }

	.contentfooter{
		width: 75%;
		justify-content: center;
	}
}
@media (min-width: 1440px){
    .cabecera1{
		img{
			margin-top: 10px;
			padding: 0;
		}
        .lista{
            display: flex;
            margin-top: 30px;
            font-size: 22px;
        }
    }
    .menumovil{
        display: none;
    }
	.contentfooter{
		width: 100%;
		justify-content: center;
	}
}