@import 'variables';

@keyframes animate {
	0% {
		background-image: url(../img/slider1.png);
		background-size: cover;
	}
	25% {
		background-image: url(../img/slider2.png);
		background-size: cover;
	}
	50% {
		background-image: url(../img/slider3.png);
		background-size: cover;
	}
	75% {
		background-image: url(../img/slider4.png);
		background-size: cover;
	}
	100% {
		background-image: url(../img/slider1.png);
		background-size: cover;
	}
}
body {
	margin: 0;
}
html {
	font-size: 22px;
}
p {
	text-align: center;
	font-family: $letra;
}
.slider {
	background-size: cover;
	height: 454px;
	width: 100%;
	border-radius: 10px;
	animation: animate 20s infinite ease-in-out;
}
.container2 {
	max-width: 100%;
	margin: 0 auto;
	display: grid;
	grid-gap: 1rem;
}
.flip-card {
	background-color: transparent;
	width: 300px;
	height: 365px;
	perspective: 1000px;
	font-family: $letra;
	img {
		border-radius: 15px;
		width: 100%;
		height: 100%;
	}
	a {
		color: white;
		text-decoration: none;
	}
	&:hover {
		.flip-card-inner {
			transform: rotateY(180deg);
		}
	}
}
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.flip-card-front {
	box-shadow: 0 8px 14px 0 $fondoOscuro;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 15px;
}
.flip-card-back {
	box-shadow: 0 8px 14px 0 $fondoOscuro;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 15px;
	background: linear-gradient(120deg, rgb(1,5,5) 30%, rgb(1,17,38) 88%, white 78%);
	color: white;
	transform: rotateY(180deg);
}
.primeras_fichas {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 120px;
	justify-content: center;
}
.segundas_fichas {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 120px;
	justify-content: center;
}

