.producto {
	display: flex;
    flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	height: 400px;
}
.info {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 300px;
}
img {
	width: 310px;
	height: 380px;
}
select {
	height: 40px;
}
button {
	height: 40px;
}
