.producto {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}
.contentproducto {
	background-color: #011126;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
.content img{
	margin: 10px;
}
.info {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 300px;
	color: white;
}

.info button{
	margin-left: 110px;
}
img {
	width: 280px;
	height: 350px;
}
select {
	height: 40px;
}
button {
	height: 40px;
}
table {
	border: 1px solid black;
}
th {
	border: 1px solid black;
}
td {
	border: 1px solid black;
}


