.cabecera {
  background-color: #011126;
  display: grid;
  width: 100%;
  font-family: "Forum";
  font-weight: bolder;
}
.cabecera p {
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}
.cabecera img {
  width: 200px;
  width: 175px;
  margin-left: 5px;
}
.cabecera ul {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}
.cabecera li {
  list-style: none;
}
.cabecera a {
  text-decoration: none;
  color: white;
}

.cabecera2 {
  background-color: #011126;
  display: flex;
  width: 100%;
  justify-content: center;
  border-top: 4px solid #A3C4D9;
  font-family: "Forum";
}
.cabecera2 p {
  color: white;
}
.cabecera2 img {
  width: 80px;
  height: 80px;
}
.cabecera2 a {
  text-decoration: none;
  color: white;
}

@media (min-width: 320px) {
  .cabecera img {
    width: 100px;
    height: 100px;
  }
  .cabecera ul {
    margin-left: 2px;
  }
}
@media (min-width: 375px) {
  .cabecera ul {
    margin-right: 5px;
  }
}
@media (min-width: 425px) {
  .cabecera ul {
    margin-right: 20px;
  }
}
@media (min-width: 500px) {
  .cabecera {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1000px) {
  .cabecera {
    grid-template-columns: repeat(2, 1fr);
  }
  .cabecera ul {
    margin-top: 40px;
  }
}
@keyframes animate {
  0% {
    background-image: url(../img/slider1.png);
    background-size: cover;
  }
  25% {
    background-image: url(../img/slider2.png);
    background-size: cover;
  }
  50% {
    background-image: url(../img/slider3.png);
    background-size: cover;
  }
  75% {
    background-image: url(../img/slider4.png);
    background-size: cover;
  }
  100% {
    background-image: url(../img/slider1.png);
    background-size: cover;
  }
}
body {
  margin: 0;
}

html {
  font-size: 22px;
}

p {
  text-align: center;
}

.slider {
  background-size: cover;
  height: 454px;
  width: 100%;
  border-radius: 10px;
  animation: animate 20s infinite ease-in-out;
}

.container2 {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 365px;
  perspective: 1000px;
  font-family: "Forum";
}
.flip-card img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.flip-card a {
  color: white;
  text-decoration: none;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front {
  box-shadow: 0 8px 14px 0 #011126;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.flip-card-back {
  box-shadow: 0 8px 14px 0 #011126;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  background: linear-gradient(120deg, rgb(1, 5, 5) 30%, rgb(1, 17, 38) 88%, white 78%);
  color: white;
  transform: rotateY(180deg);
}

.primeras_fichas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  justify-content: center;
}

.segundas_fichas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  justify-content: center;
}

footer {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 10px;
  background-color: #011126;
  color: white;
  width: 100%;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.card {
  margin-top: 20px;
  width: 300px;
  font-family: "Forum";
  font-weight: bold;
}
.card img {
  margin-left: 50px;
  width: 200;
  height: 300px;
}
.card .content {
  margin-top: 5px;
}
.card .content a {
  margin-left: 80px;
  text-decoration: none;
  color: black;
}

.cardborder {
  border: 1px solid black;
  height: 300px;
}

.producto {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 300px;
}

img {
  width: 280px;
  height: 350px;
}

select {
  height: 40px;
}

button {
  height: 40px;
}/*# sourceMappingURL=main.css.map */